@function image-url($url)
  @return url($url)

@import "_govuk-elements.scss"

#global-header-bar
  background-color: $cabinet-office


main#content, .full-page-width-wrapper
  @extend %site-width-container

.grid-row
  @extend %grid-row

  .column-third
    @include grid-column( 1/3 )

  .column-two-thirds
    @include grid-column( 2/3 )


.hero-image
  @extend %outdent-to-full-width


.button-danger
  background-color: $mellow-red
  box-shadow: 0 2px 0 $red
  &:hover, &:active
    background-color: darken($mellow-red, 5)

// Customise MD editor
.editor-toolbar
  border: none
  padding-left: 0px
  a
    border-radius: 0px
    color: #0b0c0c !important
.CodeMirror.cm-s-paper.CodeMirror-wrap
  border: 2px solid #0b0c0c
  border-radius: 0px

// Bring update, publish and delete buttons up onto one line
form
  display: inline
.form-group.inline
  display: inline-block
  input.button
    display: inline-block

a.block
  display: block

// Lesson content styling
.lesson-content, .page-content
  margin-bottom: 30px
  strong
    font-weight: 700
  ul
    list-style-type: disc
    margin: 25px 0px 25px 25px
  ol
    list-style-type: decimal
    margin: 25px 0px 25px 25px
  em
    font-style: italic
  h1
    @include core-48
    font-weight: 700
    margin-top: 0.46875em
    margin-bottom: 0.9375em
  h2
    @include core-36
    font-weight: 700
    margin-top: 1.04167em
    margin-bottom: 0.41667em
  h3
    @include core-27
    font-weight: 700
    margin-top: 1.25em
    margin-bottom: 0.5em
  h4
    @include core-24
    font-weight: 700
    margin-top: 0.625em
    margin-bottom: 0.3125em
  h5
    @include core-19
    font-weight: 700
    margin-top: 0.625em
    margin-bottom: 0.3125em
  pre
    margin-bottom: 1em
  blockquote
    border-left-style: solid
    border-left-width: 10px
    border-color: #bfc1c3
    padding: 0.78947em
    margin-top: 0.26316em
    margin-bottom: 1.05263em
    p:last-of-type
      margin-bottom: 0px
  img, iframe
    max-width: 100%
    height: auto

// Custom lesson type labels
strong.project-tag
  margin-left: 7px
  background: #28A197
  color: #ffffff
strong.video-tag
  margin-left: 7px
  background: #DF3034
  color: #ffffff

// Hide crown
#global-header #logo
  background: none

// Inset text panels
.todo
  background-color: #28a096
  color: #ffffff
  padding: 20px
  margin-top: 0.26316em
  margin-bottom: 1.05263em
.inset
  background-color: #DEE0E2
  padding: 20px
  margin-top: 0.26316em
  margin-bottom: 1.05263em

// Masthead
.masthead
  padding: 20px 0px 20px 0px
  background-color: #005ea5
  color: #ffffff
  .button-start
    background-color: #ffffff
    color: #005ea5
    background-image: url(/images/arrow.png)
    background-size: 20px
    background-repeat: no-repeat
    background-position: 95% 50%
    margin-bottom: 5px
  a
    color: #ffffff


span.difficulty
  background-color: rgba(40, 161, 151, 1)
  font-size: 0.7em
  border-radius: 100%
  color: white
  width: 25px
  height: 25px
  display: inline-block
  text-align: center
  padding: 6px 3px 0px 3px
  transform: scale(0.85) translateY(-4px)

ul#recent-uploads.alive
  margin-bottom: 30px
ul#recent-uploads.alive:before
  content: "Recent media uploads"
  margin-bottom: 10px
ul#recent-uploads li
  opacity: 0.5


@media screen and (min-width: 641px)
  .masthead .heading-xlarge
    margin: 20px 0px
