@function image-url($url)
  @return url($url)

@import "_govuk-elements.scss"

#global-header-bar
  background-color: $cabinet-office


main#content, .full-page-width-wrapper
  @extend %site-width-container

.grid-row
  @extend %grid-row

  .column-third
    @include grid-column( 1/3 )

  .column-two-thirds
    @include grid-column( 2/3 )


.hero-image
  @extend %outdent-to-full-width


.button-danger
  background-color: $mellow-red
  box-shadow: 0 2px 0 $red
  &:hover, &:active
    background-color: darken($mellow-red, 5)

// Customise MD editor
.editor-toolbar
  border: none
  padding-left: 0px
  a
    border-radius: 0px
    color: #0b0c0c !important
.CodeMirror.cm-s-paper.CodeMirror-wrap
  border: 2px solid #0b0c0c
  border-radius: 0px

// Bring update, publish and delete buttons up onto one line
form
  display: inline
.form-group.inline
  display: inline-block
  input.button
    display: inline-block



.lesson-content, .page-content
  margin-bottom: 30px
  strong
    font-weight: 700
  ul
    list-style-type: disc
    margin: 25px 0px 25px 25px
  ol
    list-style-type: decimal
    margin: 25px 0px 25px 25px
  em
    font-style: italic
  h1
    @include core-48
    font-weight: 700
    margin-top: 0.46875em
    margin-bottom: 0.9375em
  h2
    @include core-36
    font-weight: 700
    margin-top: 1.04167em
    margin-bottom: 0.41667em
  h3
    @include core-27
    font-weight: 700
    margin-top: 1.25em
    margin-bottom: 0.5em
  h4
    @include core-24
    font-weight: 700
    margin-top: 0.625em
    margin-bottom: 0.3125em
  h5
    @include core-19
    font-weight: 700
    margin-top: 0.625em
    margin-bottom: 0.3125em
  pre
    margin-bottom: 1em
  blockquote
    border-left-style: solid
    border-left-width: 10px
    border-color: #bfc1c3
    padding: 0.78947em
  img
    max-width: 100%

#global-header #logo
  background: none
