<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <ul id="proposition-links">
        <li><a href="#">Set up</a></li>
        <li><a href="#">Mentoring</a></li>
        <li><a href="#">Why this exists</a></li>
        <li><a href="/feedback">Feedback</a></li>
      </ul>
    </nav>
  </div>
</div>
