<%- include('header.ejs') %>
<main id="content">

  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">That page couldn't be found</h1>
      <div class="page-content">
       We can't find the page you're looking for. It may have moved to a new location. If you think something should be here, <a href="/feedback">let us know</a>.
     </div>
    </div>

    <div class="column-one-third">
    </div>

  </div>
</main>
<%- include('footer.ejs') %>
