<%- include('header.ejs') %>

<main id="content">

  <div class="breadcrumbs" data-module="track-click">
    <ol>
      <li class="">
          <a href="/">DDaT Codelabs</a>
      </li>
      <% if (moduleNumber === "All") { %>
        <li class="">Feedback</li>
      <% } else { %>
        <li class="">Module feedback</li>
      <% } %>
    </ol>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">

      <% if (moduleNumber === "All") { %>
        <h1 class="heading-xlarge">Give feedback</h1>
      <% } else { %>
        <h1 class="heading-xlarge">Give feedback on a module</h1>
      <% } %>



      <form action="/feedback" method="POST">
        <div class="form-group">
          <fieldset>
            <legend>
              <h1 class="heading-medium">
                How would you describe your current coding experience?
              </h1>
            </legend>
            <div class="multiple-choice">
              <input id="no-experience" type="radio" name="experience" value="No experience" required>
              <label for="no-experience">No experience</label>
            </div>
            <div class="multiple-choice">
              <input id="some-experience" type="radio" name="experience" value="Some experience" required>
              <label for="some-experience">Some experience</label>
            </div>
            <div class="multiple-choice">
              <input id="lots-experience" type="radio" name="experience" value="Lots of experience" required>
              <label for="lots-experience">Plenty of experience</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <label class="form-label" for="message">
            <% if (moduleNumber === "All") { %>
              <h2 class="heading-medium">
                How can we improve DDaT Codelabs?
              </h2>
            <% } else { %>
              <h2 class="heading-medium">
                How can we improve this module?
              </h2>
            <% } %>
          </label>
          <textarea class="form-control form-control-3-4" name="message" id="message" rows="5" required></textarea>
        </div>

        <input type="hidden" name="moduleNumber" value="<%= moduleNumber %>"/>

        <div class="form-group">
          <input class="button" type="submit" value="Send feedback">
        </div>
      </form>

      <p>You can discuss DDaT Codelabs on channel <em>#ddat-codelabs</em> on the cross-government digital Slack team.</p>
      <p>If you'd like to help improve DDaT Codelabs yourself, <a href="mailto:ddatcodelabs@gmail.com">get in touch</a>, we're always looking for volunteers, particularly content designers, user researchers and technical experts.</p>

    </div>

    <div class="column-one-third">

    </div>

  </div>
</main>


<%- include('footer.ejs') %>
