<%- include('header') %>

<main id="content" role="main">
<div id="page-container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Learn to code in six months</h1>
      <p class="lede">DDaT Codelabs is a technical course for Fast Streamers. The goal of the course is to build a complete web application from scratch.</p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">All modules</h2>

      <ol class="task-list">
        <li>
          <h2 class="heading-medium">1. Prototype your app</h2>
          <ul>
            <li class="task-list-item"><a href="#">Task 1</a></li>
            <li class="task-list-item"><a href="#">Task 2</a></li>
          </ul>
        </li>
        <li>
          <h2 class="heading-medium">2. Build your app's front end</h2>
          <ul>
            <li class="task-list-item"><a href="#">Task 1</a></li>
            <li class="task-list-item"><a href="#">Task 2</a></li>
          </ul>
        </li>
        <li>
          <h2 class="heading-medium">3. Build your app's server</h2>
          <ul class="">
            <li class="task-list-item"><a href="#">Task 1</a></li>
            <li class="task-list-item"><a href="#">Task 2</a></li>
          </ul>
        </li>
        <li>
          <h2 class="heading-medium">4. Integrate a database</h2>
          <ul>
            <li class="task-list-item"><a href="#">Task 1</a></li>
            <li class="task-list-item"><a href="#">Task 2</a></li>
          </ul>
        </li>
      </ol>

      <div class="notice">
        <i class="icon icon-important">
          <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
          You can be fined up to £5,000 if you don’t register.
        </strong>
      </div>

    </div>
    <div class="column-third">
      <h4 class="heading-large">About Codelabs</h4>
      <p>Topics covered include front and back-end web development, devops, working with databases and API design.</p>
      <p>The course is divided into twelve online modules, which should be completed in order. Every two weeks, a new module will be released.</p>
    </div>
  </div>

</div>
</main>

<%- include('footer') %>
